
@media (max-width: 950px) {

  .page-header {
    width: 100%;
  }

  .page-content {
    max-width: 1050px;
  }

  .brand-list {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
  }

  .header-nav {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 3;
  }

  .header-nav-toggle {
    display: block;
  }

  .header-nav_show {
    display: block;
  }

  .main-menu {
    display: block;
  }

  .main-menu__link {
    display: block;
    background-color: #fff;
    text-align: right;
    border-bottom: 1px solid #eee;
  }

  .brand__name {
    text-align: center;
  }

  .about__photo {
    width: 100%;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  /* .brand-detail__description {
    padding: 0;
    margin-bottom: 0;
    line-height: 1.6;
    font-size: 15px;
    color: black;
  } */

  .collections-brand-list {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
  }

  .contacts-front {
    display: block;
  }

  .contacts__map {
    width: 100%;
    padding: 0;
  }

  .contacts {
    width: 100%;
    padding: 20px 0 0;
  }
}

@media (max-width: 800px) {
  .brand-detail__row {
    display: block;
    text-align: center;
  }

  .brand__photo {
    width: 400px;
  }

  .about__photo {
    width: 80%;
  }

  .brand-detail__text:first-child {
    margin-top: 20px;
  }

  .brand-detail__text {
    margin-bottom: 5px;
  }

  .brand-detail__description {
    text-align: start;
  }
}

@media (max-width: 600px) {
  .page-footer {
    display: block;
  }

  .social {
    justify-content: center;
    padding-top: 10px;
  }
}

@media (max-width: 500px) {
  .brand-list {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-content: center;
  }

  .collections-brand-list {
    grid-template-columns: repeat(1, 1fr);
  }

} 