* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2dede;
  padding-left: 15px;
  padding-right: 15px;
}

.header-nav-toggle {
  display: none;
  border: none;
  background-color: transparent;
  font-size: 36px;
  padding: 14px;
}

.header-nav {
  margin-top: auto;
  margin-bottom: auto;
} 

.header-logo__link {
  padding: 15px 0 10px 0;
}

.img-logo {
  height: 40px;
  width: auto;
}

.main-menu {
  display: flex;
  list-style: none;
}

.main-menu__link {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
}

.brand-list {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
}

.brand {
  position: relative;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 328px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.brand::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
}

.brand:hover::after {
  background-color: rgba(0, 0, 0, 0);
}

.brand_domrebel {
  background-image: url(../images/photo/domrebel.jpg);
}

.brand_limitato {
  background-image: url(../images/photo/limitato.jpg);
}

.brand_citizen {
  background-image: url(../images/photo/cotton_citizen.jpg);
}

.brand_keepers {
  background-image: url(../images/photo/finders_keepers.jpg);
}

.brand_keepsake {
  background-image: url(../images/photo/keepsake.jpg);
}

.brand_label {
  background-image: url(../images/photo/the_fifth_label.jpg);
}

.brand_elliatt {
  background-image: url(../images/photo/elliatt.jpg);
}

.brand_storm-marie {
  background-image: url(../images/photo/storm-marie.jpg);
}

.brand_wildfox {
  background-image: url(../images/photo/wildfox.jpg);
}

.brand_bikinis {
  background-image: url(../images/photo/frankies_bikinis.jpeg);
}

.brand_rxmance {
  background-image: url(../images/photo/rxmance.jpg);
}

.brand_soia-kyo {
  background-image: url(../images/photo/soia-kyo.jpg);
}

.brand_mauna-kea {
  background-image: url(../images/photo/mauna-kea.jpg);
}

.brand__name {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}

.page-footer {
  background-color: #282828;
  color: #fff;
  min-height: 70px;
  padding: 25px 5px;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1175px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.description {
  font-size: 15px;
}

.footer__link {
  text-decoration: none;
  color: #fff;
}

.social {
  display: flex;
  align-items: center;
  list-style: none;
}

.social__link {
  color: #fff;
}

.fa-instagram {
  width: 40px;
  padding: 0 5px;
}

.fa-facebook {
  width: 40px;
  padding: 0 5px;
}

/* ABOUT */

.page__title {
  color: #282828;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 33px;
}

.about-front {
  display: flex;
}

.about__photo {
  width: 100%;
  height: auto;
  margin-right: 20px;
}

.about-discription {
  margin-bottom: 5px;
  line-height: 1.6;
  font-size: 15px;
}

/* COLLECYIONS */

.collections-brand-list {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
}

/* CONTACTS */

.contacts-content {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.contacts-front {
  display: flex;
}

.contacts {
  width: 48%;
  margin-bottom: 5px;
  padding: 0 1%;
  line-height: 1.6;
  font-size: 15px;
}

.contacts p {
  margin: 5px 0;
}

.contacts__map {
  padding: 0 1%;
}

.contacts-phone__number,
.contacts-mail__link {
  text-decoration: none;
  color: #000;
}

.contacts-social__link {
  color: #000;
}

.contacts-social-icon {
  height: 18px;
  width: 17px;
  display: block;
  line-height: 21px;
  font-size: 18px;
  float: left;
  text-decoration: none;
  text-align: center;
  margin: 10px 7px;
}

.contacts__input-name {
  margin-top: 10px;
}

.contacts-email {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-email span {
  color: #ff0000;
}

.email-label {
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 5px;
  color: #282828;
}

.contacts__input {
  width: 100%;
  color: #282828;
  padding-left: 10px;
  height: 40px;
  font-size: 15px;
  margin-bottom: 15px;
  border: 1px solid #dedede;
}

.contacts-messange__input {
  width: 100%;
  color: #282828;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 15px;
  border: 1px solid #dedede;
}

.contacts__button {
  color: #fff;
  background-color: #000;
  font-size: 15px;  
  border: none;
  width: 150px;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

/* DOMREBEL */

.page-content {
  min-height: calc(100vh - 70px - 70px);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 15px;
}

.brand-detail__row {
  display: grid;
  grid-template-columns: 379px auto;
}

.brand-detail__title {
  text-align: center;
  padding-bottom: 40px;
  font-size: 33px;
}

.brand-detail__photo {
  padding: 0 15px;
}

.brand-detail__description {
  padding-left: 20px;
  line-height: 1.6;
  font-size: 15px;
  margin-bottom: 5px;
  color: #000;
  font-weight: 400;
}
